body{
    background-color:lightblue;
}
#heading{
    color: darkblue;
    text-align: center;
    font-size: 50px;
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2px;  
}
#name{
    margin-top: 2px;
    color:crimson;
    text-align: center;
    font-size: 25px;
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;  
}
#description,#para1,#para2{
    text-align: justify;
}
#para1,#para2{
    font-size: 18px;
}
#description{
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    margin-right: 10px;
}
.information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}
#photo{
    /* margin-top: 50px; */
    align-items: center;
    width: 350px;
    height: 200px;
    border: 5px solid black;
    border-radius: 10%;
    margin-left: 10px;
}
.personal{
    background-color:rgb(103, 103, 103);
}
#table{
    color: white;
}
#copyright{
    text-align: center;
}